
<h1>Antonio Salmeron</h1>
<h3>Software Developer</h3>

<h3>
    Born in California 1997, I beleive software engineering can be impactful to
     communities across the globe. I enjoy pursuing open source projects with 
     and emphasis on data, privacy and payments.
</h3>



