<h1>Projects</h1>

<h4>Dude, How's My City?</h4>
<p> Allows users to compare cost of living between cities both nationally and
internationally. By using metrics suchs as average housing, food and public 
transportaion costs users are able to see whether they can comfortablly afford
to live in the area. There is also information displayed on average salaries for
various occuaptions. </p>
<p>Tech Environment: Ruby on Rails, React, PostgreSQL</p>

<h4>Waste No More</h4>
<p>Tied of throwing out expired food? This application that takes in ingredients from a users fridge and provides 
recommended recipies prioritizing food close to expiration. </p>
<p>Tech Environment: Ruby on Rails, PostgreSQL</p>

<h4>Social API</h4>
<p>This is a represention of an API used by a social media platform. It allows users to create profiles, 
post content, reply to posts, and like posts.</p>
<p>Tech Environmnet: Java, SpringBoot, PostgreSQL</p>